.jumbotron {
  background-color: $yellow;
  color: grey;
  margin-top: 50px;
}

.btn {
  background-color: #688E23;
  color: white;
rem  bound=true;
}
.btn01 {
  background-color: #688E23;
  color: blue;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: orange;
  margin-top: 10px;
  margin-botton: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.mt15 {
  margin-top: 15px;
}

.tab-content {
padding-top: 10px;
}