@yellow: #edb24c;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @yellow;
  color: #636363;
  .margenes(50px, 10px)
}

.btn {
  background-color: #688E23;
  color: white; }

.btn01 {
  background-color: #688E23;
  color: blue; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  .margenes(10px, 10px)
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px)
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.mt15 {
  margin-top: 15px; }

.tab-content {
  padding-top: 10px; }

.colorgrey {
  color: #636363; }
