$yellow: #f250df;
$grey: #636363;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
  background-color: $yellow;
  color: $grey;
  @include margenes(50px, 10px);
}

.btn {
  background-color: #688E23;
  color: white;

}
.btn01 {
  background-color: #688E23;
  color: blue;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: $yellow;
  @include margenes(10px, 10px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.mt15 {
  margin-top: 15px;
}

.tab-content {
padding-top: 10px;
}

.colorgrey {
  color: $grey;
}