.jumbotron {
  background-color: #edb24c;
  color: #636363;
  margin-top: 50px;
  margin-bottom: 10px;
}
.btn {
  background-color: #688E23;
  color: white;
}
.btn01 {
  background-color: #688E23;
  color: blue;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #edb24c;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.mt15 {
  margin-top: 15px;
}
.tab-content {
  padding-top: 10px;
}
.colorgrey {
  color: #636363;
}
